.app-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

.app-header {
    background-color: #282c34;
    display: flex;
    font-weight: 800;
    color: #2ba22c;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}